/* ResourceList.css */

/* Regular styles for larger screens */
.resource-list-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f5f5f5;
}

.resource-header {
  font-size: 24px;
  margin-bottom: 10px;
}

.resource-table {
  width: 100%;
  border-radius: 10px;
}

.load-more-button {
  margin-top: 10px;
}

.record-length {
  font-size: 18px;
  margin-top: 20px;
}

.req-state {
  font-size: 18px;
  margin-top: 20px;
}

.loadmore {
  justify-content: center;
}

.retrybutton {
  cursor: pointer;
}

.otherDataItem {
  padding: 0.5rem;
  margin: 0.5rem 0;
  background: #f6f6f6;
  height: 35px;
}

.otherDataItem:hover {
  background: #e4e4e4;
  transform: scale(1.1);
}

.title {
  font-weight: bold;
  font-size: 18px;
}

.detail {
  font-size: 18px;
}


.container{
  padding: 15px;
  max-width: 85%;
  margin-bottom: 20px;
}

.msgforloading{
  margin-top: 25px;
}


.tab-container{
  border: 2px solid #007bff;
  border-radius: 10px;
  background-color: #fff;
  width: 75%; 
  margin: 0 auto;
  margin-bottom: 5%; 

  padding: 30px;

}

.pointer{
  cursor: pointer;
}

.footer{
  margin-bottom: 10px;
}